/******************************* Settings General *******************************/

.m-preparation-header {
	padding-bottom: rem(10px);
	margin: rem(20px) rem(30px);
}

.m-player-frame {
	max-width: rem(60px);
	min-width: rem(60px);
	max-height: rem(60px);
	min-height: rem(60px);
	overflow: hidden;
	border-radius: rem(50px);
	border: 3px solid $white;
	@include shadow(8px 5px 40px 9px rgba(112, 112, 112, 0.1));
	@include square(rem(70px));
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 1rem;
}

.m-dots {
	display: flex;
	width: rem(80px);
	height: rem(20px);
	justify-content: space-around;
}

/******************************* Settings Moderator *******************************/

.m-player {

	&-info {
		margin-left: rem(10px);
		width: 65vw;
	}

	&-delete {
		border: none;
		color: $text-color-primary;
		background-color: none;
		background: none;
	}
}

/******************************* Settings Moderator 2 *******************************/

.m-container-timer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: rem(50px);
}


/******************************* Settings Moderator 3 *******************************/

.m-container-radius {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: rem(50px);
}
