<div class="u-container">
    <div class="o-container">
			<div class="o-preparation-card friends">

			<div class="m-preparation-header">
				<h2 class="a-preparation-header__title">Vriendenlijst</h2>
				<p class="a-preparation-header__text">Hier worden al jouw vrienden getoond.</p>
			</div>


			<ul class="o-preparation-players">
				<li class="o-container-player" tabindex="-1">
						<div class="m-player-frame">
							<img src="../assets/icons/logo/more.svg" alt="avatar" class="a-player-more">
						</div>
						<div class="m-player-info">
							<p class="a-player-name">Voeg speler toe</p>
							<p class="a-player-code">Tik hier voor toe te voegen.</p>
						</div>
					</li>
				{{#each players}}
					<li class="o-container-player" tabindex="-1">
						<div class="m-player-frame">
							<img src="../assets/images/example.jpg" alt="avatar" class="a-player-picture">
						</div>
						<div class="m-player-info">
							<p class="a-player-name">{{name}}</p>
							<p class="a-player-code">#{{code}}</p>
						</div>
					</li>
				{{/each}}
			</ul>
		</div>

		
    </div>
	<a href="/settings" class="m-button-rectangle color left" data-navigo>
		{{> arrow-left }} Terug
	</a>
</div>
