{{> header }}
<div class="u-container u-spacer-t">
  <h1>
    {{bold title}}
  </h1>
  <p>
    Ja maat
  </p>
  <ul>
    <li>{{routerLink "firebase" "Ga naar de Firebase pagina"}}</li>
    <li>{{routerLink "mapbox" "Ga naar de Mapbox pagina"}}</li>
	<li>{{routerLink "signup" "Ga naar de SignUp pagina"}}</li>
  </ul>
</div>
{{> footer }}