<div class="u-container">
	<div class="o-container">
		<div class="o-slider">
			<div class="o-slider__slides">


				<div class="m-slide-item">
					{{> logo }}
					<div class="m-slide-content">
						<h1 class="a-title-big" id="newFname">Welkom</h1>
						<p class="a-text-big">Nostalgie in een nieuw, modern jasje is nu in jouw handen!</p>
					</div>
				</div>


				<div class="m-slide-item">
					{{> logo }}
					<div class="m-slide-content">
						<h1 class="a-title-big">Spelregels</h1>
						<p class="a-text-big">Iedereen kent de spelregels van tikkertje wel: wie getikt wordt is de nieuwe tikker.</p>
					</div>
				</div>


				<div class="m-slide-item">
					{{> logo }}
					<div class="m-slide-content">
						<h1 class="a-title-big">Veel plezier</h1>
						<p class="a-text-big">Veel plezier.</p>
					</div>
					<a href="/map" class="m-button-rectangle color right intro" data-navigo>
						Ga verder {{> arrow-right }}
					</a>
				</div>


			</div>
		</div>
	</div>
</div>