<div class="u-container">
    <div class="o-container">
			<div id="mapbox" class="m-mapbox"></div>

			<div class="m-button-frame" {{routerLink "settings"}}>
				<img class="a-button__image" id="newImg" src="https://pwco.com.sg/wp-content/uploads/Generic-Profile-Placeholder-v3.png"/> 
			</div>
			
			<a href="/startgame" class="m-button-rectangle color" data-navigo>
				Start spel {{> walker}}
			</a>
    </div>
</div>
