<div class="u-container">
		<div class="m-overlay-end" id="endgame-overlay" href="/map" data-navigo>
			<h3 class="a-overlay-title">Het spel is gedaan</h3>
			<p class="a-overlay-text">Tik hier om terug naar het startscherm te gaan</p>
		</div>
		<div class="m-overlay-start" id="startgame-overlay">
			<h3 class="a-overlay-title">Tik hier om het spel te starten!</h3>
		</div>
    <div class="o-container">
			<div id="mapbox" class="m-mapbox"></div>

			<div class="m-button-frame">
				<img class="a-button__image" id="newImg" src="https://pwco.com.sg/wp-content/uploads/Generic-Profile-Placeholder-v3.png"/> 
			</div>
			<div class="a-button-options" id="optionsBtn">
				<i class="fa fa-bars"></i>
			</div>

			<a class="m-button-rectangle color white" >
				<div id="progressbar"></div>
				<div class="m-timer" id="timer">00:00</div>
			</a>
    </div>

	<div class="o-popup" id="popup-1">
		<div class="o-container-cards">
			<a href="/deleteplayers" class="m-card" data-navigo>
				<h1 class="a-card__title">Verwijder spelers</h1>
				<p class="a-card__text">Gooi spelers uit het het spel zodat ze niet meer kunnen meespelen.</p>
			</a>

			<a class="m-card" id="endGameCard">
				<h1 class="a-card__title">Beëindig spel</h1>
				<p class="a-card__text">Stop het spel voor iedereen.</p>
			</a>
		</div>
		<a class="m-button-rectangle color left popup" id="closeBtn">
			{{> arrow-left}} Terug
		</a>
	</div>

	<div class="o-popup-2" id="popup-2">
		<h3 class="a-popup-title">Weet je zeker dat je het spel wilt beëindigen?</h3>
		<button class="a-popup-button" id="deny">NEE</button>
		<button class="a-popup-accept" id="accept">JA</button>
	</div>
	
</div>
