<div class="u-container">
    <div class="o-container">
			<div id="mapbox" class="m-mapbox"></div>

			<div class="m-button-frame">
				<img class="a-button__image" id="newImg" src="https://pwco.com.sg/wp-content/uploads/Generic-Profile-Placeholder-v3.png"/> 
			</div>

			<a class="m-button-rectangle color white" >
				<div id="progressbar"></div>
				<div class="m-timer" id="timer">00:00</div>
			</a>
    </div>	
</div>
