<div class="u-container">
	<div class="m-overlay-end" id="endgame-overlay" href="/map" data-navigo>
			<h3 class="a-overlay-title">Het spel is gedaan</h3>
			<p class="a-overlay-text">Tik hier om terug naar het startscherm te gaan</p>
		</div>
    <div class="o-container">
			<div id="mapbox" class="m-mapbox"></div>

			<div class="m-button-frame">
				<img class="a-button__image" id="newImg" src="https://pwco.com.sg/wp-content/uploads/Generic-Profile-Placeholder-v3.png"/> 
			</div>

			<div class="a-button-options" id="leaveBtn">
				<i class="fa fa-sign-out"></i>
			</div>

			<a class="m-button-rectangle color white" >
				<div id="progressbar"></div>
				<div class="m-timer" id="timer">00:00</div>
			</a>
    </div>	

	<div class="o-overlay-end" id="overlayLeave"></div>
	<div class="o-popup-2 mapmoderator" id="popup-2">
		<h3 class="a-popup-title">Weet je zeker dat je het spel wilt beëindigen?</h3>
		<button class="a-popup-button" id="deny">NEE</button>
		<button class="a-popup-accept" id="accept">JA</button>
	</div>

</div>
