<div class="u-container">
	<div class="m-overlay-end" id="endgame-overlay" href="/map" data-navigo>
			<h3 class="a-overlay-title">Het spel is gedaan</h3>
			<p class="a-overlay-text">Tik hier om terug naar het startscherm te gaan</p>
		</div>
    <div class="o-container">
			<div id="mapbox" class="m-mapbox"></div>

			<div class="m-button-frame">
				<img class="a-button__image" id="newImg" src="https://pwco.com.sg/wp-content/uploads/Generic-Profile-Placeholder-v3.png"/> 
			</div>

			<a class="m-button-rectangle color white" >
				<div id="progressbar"></div>
				<div class="m-timer" id="timer">00:00</div>
			</a>
    </div>	
</div>
