<div class="u-container">
	<div class="o-container">
		<div class="o-preparation-card">

			<div class="m-preparation-header" id="backButton">
				<h2 class="a-preparation-header__title">Aanwezige spelers</h2>
				<p class="a-preparation-header__text">Wacht tot {{ moderatorName }} het spel start.</p>
			</div>

			<ul class="o-preparation-players" id="playerList">

			</ul>
		</div>

			<a href="/settingsplayer"  class="m-button-rectangle color left" data-navigo>
				{{> arrow-left }} Terug
			</a>

	</div>
</div>