<div class="u-container">
	<div class="o-container">
		<div class="o-preparation-card">

			<div class="m-preparation-header">
				<h2 class="a-preparation-header__title">Aanwezige spelers</h2>
				<p class="a-preparation-header__text">Wacht tot {{ moderatorName }} het spel start.</p>
			</div>

			<ul class="o-preparation-players" id="playerListPlayer">

			</ul>
		</div>

		<button class="m-button-rectangle color left" id="backBtn">
			{{> arrow-left }} Terug
		</button>

	</div>
</div>