<div class="u-container">
	<div class="o-container">
		<div class="o-preparation-card">
			<div class="m-preparation-header">
				<h2 class="a-preparation-header__title">Speelvlakte</h2>
				<p class="a-preparation-header__text">Typ in hoelang de straal moet zijn van de cirkel.</p>
			</div>
			<div class="m-container-radius">
				<input class="a-radius-input" type="number" id="inputDistance" placeholder="0">
				<span class="a-radius-text">Meter</span>
			</div>
			<p id="txtError" class="a-error"></p>
		</div>

		<div class="m-dots">
			<a href="/settingsmod" data-navigo> <div class="a-dot"></div></a>
			<a href="/settingsmod2" data-navigo> <div class="a-dot"></div></a>
			<a href="#" data-navigo> <div class="a-dot active"></div></a>
		</div>

		<div class="o-container-buttons">
			<a href="/settingsmod2" class="m-button-rectangle color left" data-navigo>
				{{> arrow-left }} Terug
			</a>
			<a id="btnModerator" class="m-button-rectangle color right">
				Volgende {{> arrow-right }}
			</a>
		</div>
	</div>
</div>