<div class="u-container">
    <div class="o-container">
        <div class="m-background-color">
		</div>

			<div class="o-overlay-end" id="overlayLogOut"></div>
			<div class="m-popup-settings" id="popupLogOut">
					<h3 class="a-popup-title">Weet je zeker dat je je wilt afmelden?</h3>
					<button class="a-popup-button" id="denyLogOut">NEE</button>
					<button class="a-popup-accept" id="acceptLogOut">JA</button>
				</div>

			<div class="o-settings-header">
				<div class="m-settings-header__frame">
					<img class="a-settings-image" id="newImg" src="https://pwco.com.sg/wp-content/uploads/Generic-Profile-Placeholder-v3.png" alt="Profielfoto"/> 
				</div>

				<p class="a-settings-name" id="newName"></p>
				<p class="a-settings-code">#94540</p>

				<div class="m-settings-header__stats">
					<a href="/friends" class="m-stats-friends" data-navigo>
						<img class="a-icon-settings-header" src="../assets/icons/logo/friends.svg">
						<p class="a-stats__name">Vrienden</p>
						<p class="a-stats__value">5</p>
					</a>

					<a href="/profile" class="m-stats-games" data-navigo>
						<img class="a-icon-settings-header" src="../assets/icons/logo/games.svg">
						<p class="a-stats__name">Spellen</p>
						<p class="a-stats__value">5</p>
					</a>
				</div>
			</div>


			<div class="o-general-settings" id="settings">
				<a href="/profile" class="m-general-button" data-navigo>
					<img class="a-icon-settings" src="../assets/icons/logo/profile.svg">
					<p class="a-general__name">Profiel</p>
					<img class="a-icon-arrow" src="../assets/icons/logo/arrow.svg">
				</a>
				<hr class="a-horizontal-line">
				<a href="/friends" class="m-general-button" data-navigo>
					<img class="a-icon-settings" src="../assets/icons/logo/friends.svg">
					<p class="a-general__name">Vrienden</p>
					<img class="a-icon-arrow" src="../assets/icons/logo/arrow.svg">
				</a>
				<hr class="a-horizontal-line">
				<a id="btnLogOut" class="m-general-button">
					<img class="a-icon-settings" src="../assets/icons/logo/logout.svg">
					<p class="a-general__name">Meld af</p>
					<img class="a-icon-arrow" src="../assets/icons/logo/arrow.svg">
				</a>
			</div>

		
    </div>
	<a href="/map" class="m-button-rectangle color left" data-navigo>
		{{> arrow-left }} Ga terug naar de map 
	</a>
</div>
