<div class="u-container">
	<div class="o-container">
		<div class="o-preparation-card">

			<div class="m-preparation-header">
				<h2 class="a-preparation-header__title">Voeg spelers toe</h2>
				<p class="a-preparation-header__text">Tik op de vrienden die jij wilt toevoegen </p>
				<p class="a-preparation-header__text">of</p>
				<p class="a-preparation-header__text">Laat je vrienden deze code invoeren: <b class="a-gameCode" id="gameCode"></b></p>
			</div>

			<ul class="o-preparation-players" id="playerList">

			</ul>
		</div>

		<div class="m-dots">
			<a> <div class="a-dot"></div></a>
			<a> <div class="a-dot"></div></a>
			<a> <div class="a-dot active"></div></a>
		</div>

		<div class="o-container-buttons">
			<a href="/settingsmod2" class="m-button-rectangle color left" data-navigo>
				{{> arrow-left }} Terug
			</a>
			<a id="nextBtn" class="m-button-rectangle color right">
				Volgende {{> arrow-right }}
			</a>
		</div>

		<div class="o-overlay-end" id="overlayLogOut"></div>
		<div class="o-popup-2" id="popup-2">
			<h3 class="a-popup-title">Weet je zeker dat je het spel wilt beginnen?</h3>
			<button class="a-popup-button" id="deny">NEE</button>
			<button class="a-popup-accept" id="accept">JA</button>
		</div>
		
		<div class="o-overlay-end" id="overlayDelete"></div>
		<div class="o-popup-2" id="popup-3">
			<h3 class="a-popup-title">Weet je zeker dat je deze speler wilt verwijderen?</h3>
			<button class="a-popup-button" id="deny2">NEE</button>
			<button class="a-popup-accept" id="accept2">JA</button>
		</div>

	</div>
</div>