<div class="u-container">
    <div class="o-container">
        <div class="o-register">
			<a href="/signin" class="m-register__item active" data-navigo>
				Meld aan
			</a>
			<a href="/signup" class="m-register__item" data-navigo>
				Maak account
			</a>
        </div>
			<div class="o-content-register">
					{{> logo }}
				<input id="txtEmail" class="a-register__input" type="text" placeholder="Email">
				<input id="txtPassword" class="a-register__input" type="password" placeholder="Wachtwoord">
				<p id="txtError" class="a-error"></p>
				
				<a id="btnLogin" class="m-button-round color">
					Meld aan
				</a>

				<button id="btnGoogle" class="m-button-round white">
					Meld aan met Google
				</button>
			</div>
    </div>
</div>