<div class="u-container">
    <div class="o-container">
        <div class="o-register">
			<a href="/signin" class="m-register__item" data-navigo>
				Meld aan
			</a>
			<a href="/signup" class="m-register__item active" data-navigo>
				Maak account
			</a>
        </div>
		<div class="o-content-register">
			<div class="m-logo">
				{{> logo }}
			</div>
			<input id="txtEmail" class="a-register__input" type="text" placeholder="Email">
			<input id="txtPassword" class="a-register__input" type="password" placeholder="Nieuw Wachtwoord">
			<p id="txtError" class="a-error"></p>
			

			<a id="btnSignUp" class="m-button-round color">
				Maak account
			</a>
			<button id="btnGoogle" class="m-button-round white">
				<a class="a-button__link">Meld aan met Google</a>
			</button>
		</div>
    </div>
</div>
