<div class="u-container">
    <div class="o-container">
		<div class="o-container-cards">
			<a href="/settingsplayer" class="m-card" id="playerCard" data-navigo>
				<h1 class="a-card__title">Sluit aan</h1>
				<p class="a-card__text">Sluit je aan bij een toezichthouder!</p>
			</a>
			<a href="/settingsmod3" class="m-card" id="moderatorCard" data-navigo>
				<h1 class="a-card__title">Start spel</h1>
				<p class="a-card__text">Wees de toezichthouder die zelf het spel maakt en start!</p>
			</a>
		</div>
		<a href="/map" class="m-button-rectangle color left" data-navigo>
			{{> arrow-left}} Terug
		</a>
    </div>
</div>
