/**
 * The Header Styles
 */

.o-header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: layer("header");
	padding: rem(20px) 0;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__action {
		height: rem(24px);
		margin-right: rem(30px);

		&:last-child {
			margin-right: 0;
		}
	}
}