/* stylelint-disable selector-class-pattern */
/* stylelint-disable sh-waqar/declaration-use-variable */

.o-popup {
	position: fixed;
	z-index: -2;
	background-color: white;
	width: 100vw;
	height: 100vh;
}

.o-popup-2 {
	position: fixed;
	z-index: -3;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 90vw;
	padding: 1.88rem;
	border-radius: 10px;
}

.o-container {
	overflow: hidden;
}